ol li {
    background-color: yellow;
}
ol li:nth-of-type(even) {
    color: green;
}
ol li:nth-of-type(odd) {
    text-transform: uppercase;
}

h1, h2, h3 {
    color:red;
}

h1 {
    border: solid black 6px;
    font-size: 40px;
}