* {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
  margin: 10px;
}

.properties-section {
  border: 1px green solid;
  max-width: auto;
  display: flex;
  flex-direction: row;
  padding: auto;
  text-align: center;
  background-color: white;
}

.property {
  flex-direction: column;
  max-width: fit-content;
  display: flex;
  margin: auto;
  padding: 10px 50px;
}

.property h4 {
  font-weight: lighter;
}

.title {
  padding: 20px 0 0 0;
  text-align: center;
}

.subtitle {
  padding: 20px 0 30px 0;
  text-align: center;
  font-style: italic;
}

