@font-face {
  font-family: "Fira Code";
  src: url('./assets/fonts/static/FiraCode-Medium.ttf') format("truetype");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('./assets/imgs/background.svg');
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Fira Code', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: white;
}

header {
  width: 55%;
}

#title {
  margin-top: 63px;
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 79px;
}

#exchange-word {
 color: #95EBA8;
}

#coin-label {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin-top: 28px;
}

#coin-input {
  width: 151px;
  height: 48px;
  margin-top: 5px;
  background: rgba(217, 217, 217, 0.1);
  border-radius: 10px;
  padding-left: 20px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #898989;
}

button {
  box-sizing: border-box;
  width: 171px;
  height: 48px;
  background: #96EB95;
  border: 1px solid #96EB95;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-left: 14px;
  color: black;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
}

#preview-result {
  width: 100%;
  margin-top: 57px;
  max-width: 51.7%;
  height: 523px;
  padding: 30px;
  background: rgba(255, 255, 255, 0.06);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#preview-title {
  display: block;
  margin-bottom: 14px;
  width: 384px;
  height: 30px;

  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

#preview-coin-data {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
  justify-content: center;
}

#preview-coin-data::-webkit-scrollbar {
  width: 12px;
  margin-top: 100px;
}

#preview-coin-data::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.coin-container {
  box-sizing: border-box;
  width: 150px;
  height: 44px;
  padding: 12px 19px 12px 8.51px;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  display: inline-block;
  margin: 14px 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.coin-div {
  display: flex;
}

.coin-div p {
  margin-left: 6px;
  font-size: 16px;
  line-height: 21px;
}

.coin-container > p {
  color: #FFE713;
  font-size: 13px;
  line-height: 17px;
}

footer {
  text-align: center;
  margin-top: 30px;
  background-color: rgba(255, 255, 255, 0.06);
  width: 100%;
  position: absolute;
  bottom: 0;
  color: rgba(217, 217, 217, 0.5);;
}


.icon {
  margin: 10px 10px 0 10px;
  height: 30px;
  color: rgba(255, 255, 255, 0.06);
}

@media screen and (max-width: 900px) {
  header {
    width: 80%;
    text-align: center;
  }

  #title {
    font-size: 40px;
  }
  
  #preview-result {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 20px;
    margin-top: 10px;
    padding: 10px;
    line-height: 30px;
  }

  #coin-label {
    margin-top: 15px;
  }

  #input-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #898989;
  }

  button {
    margin: 10px 0 0 0;
  }

  #preview-result {
    margin-top: 40px;
    text-align: center;
    height: auto;
  }

  #preview-title {
    font-size: 15px;

  }
}